/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* .movies{
    background-color: rgb(83, 83, 83);
    width: 2000px;
    background: linear-gradient(rgb(83, 83, 83), 10%, rgb(104, 103, 103));
} */

.card-shadow{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
} 


hr {
    border: solid 3px black;
    box-shadow:  1px 1px 12px rgb(179, 227, 255);
}
 

.txt-shadow{
    font-weight: bold;
    color: rgb(8, 8, 8);
    text-shadow:  1px 1px 12px rgb(179, 227, 255)
}

.bg-stars{
    background: url('https://images.wallpaperscraft.com/image/single/stars_milky_way_starry_sky_119836_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-opacity-rounded{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.bg-opacity{
    background-color: rgba(255, 255, 255, 0.2);
}